<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
        <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
        <link rel="canonical" href="{{ .Permalink }}" />

        {{- block "css" . }}{{- end }}

        {{ partial "head" . }}

        {{"<!-- region Social -->" | safeHTML}}
        {{ template "_internal/opengraph.html" . }}
        {{ template "_internal/twitter_cards.html" . }}
        {{"<!-- endregion -->\n" | safeHTML}}

        {{"<!-- region Social -->" | safeHTML}}
        <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
        <meta name="copyright" content="{{ .Site.Copyright }}" />
        <meta name="author" content="{{ .Site.Author }}" />
        {{"<!-- endregion -->\n" | safeHTML}}
    </head>
    <body>
        <header class="page">
            <div class="logo">
                {{ partial "logo" . }}
            </div>
            <div class="mobile-toggle" aria-hidden="true">
                <label for="show-mobile-menu">
                    <span class="hamburger-bar"></span>
                    <span class="hamburger-bar"></span>
                    <span class="hamburger-bar"></span>
                </label>
            </div>
            <input type="checkbox" id="show-mobile-menu" value="1" aria-hidden="true" />
            <div class="mobile-menu" aria-hidden="false">
                <label for="show-mobile-menu" class="hide-mobile-menu"></label>
                <nav>
                    <header>
                        <h1>Navigation</h1>
                        <label for="show-mobile-menu" class="navigation-close" aria-hidden="true">&times;</label>
                    </header>
                    <ul>
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                <a href="{{ .URL }}">
                                    {{ .Pre }}
                                    <span>{{ .Name }}</span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
        </header>
        <main class="page">
            {{- block "main" . }}{{- end }}
        </main>
        <footer class="page">
            <div class="page-footer">
                <nav class="footer">
                    <ul>
                        {{ range .Site.Menus.footer }}
                            {{ if .HasChildren }}
                                <li class="has-children {{ if $currentPage.HasMenuCurrent "footer" . }}active{{ end }}">
                                    {{ if (ne .URL "") }}
                                        <a href="{{ .URL }}" class="nav-link nav-header">
                                            {{ .Pre }}
                                            <span>{{ .Name }}</span>
                                        </a>
                                    {{ else }}
                                        <span  class="nav-link nav-header">
                                            {{ .Pre }}
                                            <span>{{ .Name }}</span>
                                        </span>
                                    {{ end }}
                                    <ul class="sub-menu">
                                        {{ range .Children }}
                                            <li class="{{ if $currentPage.IsMenuCurrent "footer" . }}active{{ end }}">
                                                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                                            </li>
                                        {{ end }}
                                    </ul>
                                </li>
                            {{ else }}
                                <li class="{{ if $currentPage.IsMenuCurrent "footer" . }}active{{ end }}">
                                    <a href="{{ .URL }}">
                                        {{ .Pre }}
                                        <span>{{ .Name }}</span>
                                    </a>
                                </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </nav>
                <aside>{{ .Site.Copyright }}</aside>
            </div>
        </footer>
    </body>
</html>
