{{ define "css" }}
    {{ partial "scss" (dict "file" "scss/single.scss") }}
    {{ if in .Content "<pre class=\"chroma\">" }}
        {{ partial "scss" (dict "file" "scss/code.scss") }}
    {{ end }}
    {{ if (isset .Params "mp3") }}
        {{ partial "scss" (dict "file" "scss/audio.scss") }}
    {{ end }}
{{ end }}

{{ define "main" }}
    {{ if (isset .Params "mp3") }}
        <input type="checkbox" class="audio-toggle" value="1" id="player" />
        <div class="audio-overlay">
            <label for="player" class="audio-overlay-close">&nbsp;</label>
            <div class="audio-player">
                <header><h2>Listen to this post</h2>
                    <label class="close" for="player" aria-label="Close">&times;</label>
                </header>
                <audio controls>
                    <source src="{{ (resources.Get .Params.mp3).RelPermalink }}" />
                    Your browser does not seem to support MP# playback.
                </audio>
                <footer>
                    <a class="download" target="_blank" download type="audio/mpeg" href="{{ (resources.Get .Params.mp3).RelPermalink }}">Download MP3</a>
                </footer>
            </div>
        </div>
    {{ end }}
    <div class="text{{ if not $.PublishDate}} text--simple{{ end }}">
        <h1>{{ .Title }}</h1>
        {{ if $.PublishDate }}
        <div class="meta">
            <time datetime="{{ $.PublishDate }}">
                <span class="line">{{ $.PublishDate.Format "Jun 1, 2006" }}</span>
                <span class="calendar">
                    <span class="day">{{ $.PublishDate.Day}}</span>
                    <span class="month-year">{{ substr $.PublishDate.Month 0 3 }} {{ $.PublishDate.Year}}</span>
                </span>
            </time>
            {{ if (isset .Params "mp3") }}
                <label for="player" class="listen">🎧 Listen</label>
            {{ end }}
        </div>
        {{ end }}
        {{ .Content }}
        {{ if (isset .Params "authors")}}
            <div class="bio">
                {{ range $key, $author := .Params.authors }}
                    {{- with $.Site.GetPage "taxonomyTerm" (printf "about/%s" (urlize $author )) }}
                        <h2>{{ .Params.fullname }}</h2>
                        <img class="avatar" src="{{ ((resources.Get .Params.avatar).Resize "512x 90 jpg").RelPermalink }}" alt="" />
                        {{ .Content }}
                        <nav class="readmore">
                            <a href="/blog">Read more by {{ .Title }} &raquo;</a>
                        </nav>
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}
    </div>
{{ end }}
