@import "common/variables";

@media screen and (min-width: 768px) {
  .posts {
    &--feature {
      margin-top:3rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      aside {
        .post {
          &:first-child {
            margin-bottom:1.5rem;
          }
        }
      }

      .post.post--featured {
        font-size:1.1rem;
        grid-column: span 2;

        h2 {
          font-size:2rem;
          line-height:3rem;
          margin-bottom:1.5rem;
          .audio-available {
            font-size:1.5rem;
          }
        }
        .post__readmore {
          display: block;
          margin-top:1.5rem;
        }
      }
      .post {
        h2 {
          font-size:1.3rem;
        }
        font-size:0.9rem;
      }
    }
  }
}