@import "common/variables";

.post-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  margin-left: -0.75rem;
  margin-right: -0.75rem;

  &.post-list--feature .card {
    &:nth-child(1), &:nth-child(2) {
      width:45%;
    }
  }

  .card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12);

    display: block;
    width: 30%;
    @media screen and (max-width: 759px) {
      width: 100%;
      .card-title {
        height: auto;
      }
    }

    margin-right: 0.75rem;
    margin-left: 0.75rem;
    flex-grow: 1;
    margin-top: 1.5rem;
    text-decoration: none;
    border-radius: 0.2em;

    color: $color-text-light;
    background: $color-background-card-light;
    transition: background-color $transition-length ease-in-out, box-shadow $transition-length ease-in-out;

    &:hover {
      background: $color-background-card-light-highlight;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
      0 2px 2px rgba(0, 0, 0, 0.12),
      0 4px 4px rgba(0, 0, 0, 0.12),
      0 8px 8px rgba(0, 0, 0, 0.12),
      0 16px 16px rgba(0, 0, 0, 0.12);
    }

    @media screen and (prefers-color-scheme: dark) {
      color: $color-text-dark;
      background: $color-background-card-dark;
      &:hover {
        background: $color-background-card-dark-highlight;
      }
    }

    .card-title {
      padding: 0.75rem;

      h2 {
        font-size: 0.8rem;
        line-height: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: $font-weight-normal
      }
    }

    .card-content {
      padding: 0.75rem;
      font-size:0.8rem;
    }

    img {
      width: 100%;
    }
  }
}