@import "common/variables";

$font-heading: $font-serif;

html, body {
  font-family: $font-sans;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5rem;
  font-feature-settings: "liga" 1;
  font-weight:$font-weight-normal;

  font-size: 18px;
  @media (min-width: 900px) {
    font-size: 20px;
  }
  @media (min-width: 1100px) {
    font-size: 22px;
  }
  @media (min-width: 1800px) {
    font-size: 24px;
  }

  @media print {
    font-size: 18px;
  }
}

@mixin heading {
  font-family: $font-heading;
  font-weight: $font-weight-heading;
  page-break-after: avoid;
}

@mixin heading-margins($size) {
  font-size:$size;
  @if $size > 1.5rem {
    line-height: 3rem;
    margin-top: 3rem;
  } @else {
    line-height: 1.5rem;
    margin-top: 1.5rem;
  }
}

@mixin typography($text-width, $text-margin-left) {
  position: relative;

  .meta {
    font-variant: small-caps;
    .byline {
      display:none;
    }
    .line {
      display:block;
    }
    .calendar {
      display: none;
    }
  }

  @media screen and (min-width: 760px) {
    .meta {
      position: relative;
      height: 4.5rem;
      border-radius: 5px;
      background:$color-background-card-light;
      margin-top:1.5rem;
      width: $text-margin-left - 0.5rem;
      float:left;
      font-size:0.8rem;
      margin-left:0;
      color:$color-meta-text-light;
      text-align:center;
      .line {
        display:none;
      }
      .calendar {
        display: block;
      }
      .day {
        font-size:2rem;
        display:block;
        height:3rem;
        line-height:3rem;
      }
      .month-year {
        display: block;
        border-bottom-left-radius:5px;
        border-bottom-right-radius: 5px;
        text-align:center;
        background: $color-background-card-light-highlight;
      }
      .comma {
        display:none;
      }
      time {
        display:block;
      }
    }

    &>p, &>ul, &>ol, &>figure, &>dl, &>div, &>pre, &>blockquote, &>hr, &>h2, &>h3, &>h4, &>h5, &>h6 {
      margin-left: $text-margin-left;
      max-width:$text-width;
    }

    h1 + .meta + p:first-of-type {
      font-size:$size-lead;
    }

    .bio>h2 {
      margin-left:0;
    }
  }

  @media screen and (min-width: 760px) and (prefers-color-scheme: dark) {
    .meta {
      color: $color-meta-text-dark;
      background:$color-background-card-dark;
      .month-year {
        background: $color-background-card-dark-highlight;
      }
    }
  }

  .bio {
    $avatar-size: 6rem;
    $avatar-border: 0.1rem;
    $avatar-margin:1.5rem;
    border-top:0.2rem solid $color-decor;
    margin-top:1.4rem;
    padding-top:1.4rem;
    overflow:auto;

    h2 {
      font-size:$size-h3;
      @if $size-h3 > 1.5rem {
        line-height: 3rem;
      } @else {
        line-height: 1.5rem;
      }
      margin-top:0;
    }
    p {
      font-size:0.8rem;
    }

    h2, p {
      margin-right:$avatar-size+$avatar-margin;
    }

    img.avatar {
      box-sizing: border-box;
      float:right;
      display:block;
      height:$avatar-size;
      border: $avatar-border solid $color-decor;
      margin-left:$avatar-margin;
      border-radius:50%;
      position: relative;
      top:-1.5rem;
    }
    .readmore {
      margin-top:1.5rem;
      a {
        display: inline-block;
        padding-left:0.75rem;
        padding-right:0.75rem;
        background: $color-decor;
        font-size:0.8rem;
        color:$color-decor-contrast;
        text-decoration: none;
        margin-right:0.75rem;
        opacity:1;
        transition: opacity $transition-length ease-in-out;
        &:hover {
          color:$color-decor-contrast;
          opacity: 0.8;
        }
      }
    }
    @media print {
      border-top:0.2rem solid $color-print-border;
      .readmore {
        display:none;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @include heading;
  }

  p, ul, ol, figure, dl, hr {
    margin-top:1.5rem;
    font-size:1rem;
  }

  ul ul {
    margin-top:0;
  }

  h1, h2, h3, h4, h5, h6, p, ul, ol, figure, dl, div, hr {
    animation: fadein 0.233s;
  }

  p>code, ul>code, ol>code, dt>code, dd>code {
    color: $color-inline-code;
  }

  dl {
    overflow:auto;
    position:relative;
  }

  dt {
    font-weight:bold;
  }

  dd {
    padding-left:2rem;
  }

  dd + dt {
    margin-top:1.5rem;
  }

  ul {
    list-style-type: disc;
    padding-left:1.5rem;
  }

  p {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  h1 {
    font-size:2.5rem;
    font-weight: $font-weight-normal;
    line-height:3rem;
    margin-top:1.5rem;
    @media screen and (min-width: 760px) {
      font-size:3.5rem;
      line-height:4.5rem;
      margin-top:1.5rem;
    }
    @media screen and (min-width: 900px) {
      font-size: 4rem;
      line-height:4.5rem;
      margin-top:3rem;
    }
    @media screen and (min-width: 1400px) {
      font-size: 5rem;
      line-height:6rem;
      margin-top:6rem;
    }
    margin-bottom:0;
  }
  h2 {
    @include heading-margins($size-h2);
  }

  h3 {
    @include heading-margins($size-h3);
  }

  h4 {
    @include heading-margins($size-h4);
  }

  h5 {
    @include heading-margins($size-h5);
  }

  h6 {
    @include heading-margins($size-h6);
  }

  strong {
    font-weight: $font-weight-bold;
  }

  em {
    font-style: italic;
  }

  blockquote {
    border-left: 0.2rem solid $color-blockquote-border;
    padding-left:0.75rem;
  }

  a {
    color: $color-link-light;
    text-decoration-color: $color-link-underline;
    transition:color $transition-length ease-out, text-decoration-color $transition-length ease-out;
    &:hover, &:visited:hover {
      color: $color-link-hover;
    }
    &:active {
      color:$color-link-active;
    }
    &:visited {
      color: $color-link-visited-light;
      text-decoration-color: $color-link-visited-underline;
    }
  }

  code {
    font-family: $font-mono;
  }

  del {
    text-decoration: line-through;
  }

  ins {
    text-decoration: none;
    font-style: italic;
  }

  figure {
    position: relative;
    text-align: center;
    img {
      border-radius: 5px;
      max-width:100%;
    }
    table {
      min-width:75%;
      border-radius: 5px;
      margin-left: auto;
      margin-right:auto;
      border: $color-decor;
      border-collapse: separate;
      border-spacing: 0;
      background:$color-background-card-light;
      margin-bottom:-0.1em;

      th, td {
        padding-left:0.75rem;
        padding-right:0.75rem;
        line-height:1.3rem;
        border-left:0.1rem solid $color-decor;
        border-top:0.1rem solid $color-decor;
      }

      thead {
        background-color:$color-background-card-light-highlight;
      }

      tr td:last-child,
      tr th:last-child {
        border-right:0.1rem solid $color-decor;
      }

      tbody:last-child tr:last-child td {
        border-bottom:0.1rem solid $color-decor;
      }

      thead:first-child tr:first-child th:first-child,
      thead:first-child tr:first-child td:first-child {
        border-top-left-radius: 5px;
      }
      thead:first-child tr:first-child,
      thead:first-child tr:first-child th:last-child,
      thead:first-child tr:first-child td:last-child {
        border-top-right-radius: 5px;
      }

      tbody:last-child tr:last-child,
      tbody:last-child tr:last-child td:first-child {
        border-bottom-left-radius: 5px;
      }
      tbody:last-child tr:last-child,
      tbody:last-child tr:last-child td:last-child {
        border-bottom-right-radius: 5px;
      }
    }
    ul {
      text-align: left;
      &.tree {
        padding-top:1.5em;
        padding-bottom:1.5em;
        border-radius: 5px;
        background: $color-background-card-light;
        li {
          list-style-type: none;
        }
        .tree__item--folder {
          &::before {
            content:"📁";
            margin-right:0.2em;
          }
        }
        .tree__item--file {
          &::before {
            content:"📝";
            margin-right:0.2em;
          }
        }
      }
    }
    figcaption {
      font-style: italic;
    }
  }

  pre {
    margin-top:1.5rem;
    font-size: inherit;
    line-height:1.5rem;
    padding: 1.5rem;
    white-space: pre;
    @media screen and (min-width: 768px) {
      white-space: pre-wrap;
      word-break: break-all;
    }
  }

  hr {
    border:0;
    height:0.2rem;
    background: $color-decor;
    margin-top:1.3rem;
  }

  .admonition {
    position:relative;
    &>* {
      padding-left:1.5rem;
    }
    &>:first-child::before {
      display:block;
      text-align: left;
      position:absolute;
      top:0;
      left:0;
      width:0.75rem;
      font-size:1rem;
      line-height:1.5rem;
      height:1.5rem;
    }
    &--tip>:first-child::before {
      content:"☛";
      color: $color-admonition-tip;
      font-size:1.5rem;
      line-height:1.5rem;
      height:1.5rem;
    }
    &--warning>:first-child::before {
      content:"⚠️";
      color: $color-admonition-warning;
    }
    &--info>:first-child::before {
      content:"ⓘ";
      color: $color-admonition-info;
      font-weight: bold;
    }
  }

  @media screen and (prefers-color-scheme: dark) {
    a {
      color: $color-link-dark;
    }
    a:visited {
      color: $color-link-visited-dark;
    }
    figure {
      table {
        background: $color-background-card-dark;

        thead {
          background-color: $color-background-card-dark-highlight;
        }
      }
      ul.tree {
        background: $color-background-card-dark;
      }
    }
  }

  @media print {
    h1 {
      margin-left: auto;
      margin-right: auto;
      margin-top: 9rem;
      width: 80%;
      font-variant: small-caps;
      text-align: center;
    }
    &--simple h1 {
      margin-top:0;
    }

    .meta {
      page-break-after: always;
      text-align:center;
      font-size:1.2rem;
      margin-top:1.5rem;
      a {
        text-decoration:none;
      }

      .byline {
        display: block;
      }
      .displayname {
        display:none;
      }
      .by {
        display:none;
      }
      .fullname {
        display: inline;
        color:#000000;
        text-decoration: none;
      }
      time {
        display: none;
      }
    }

    h1 + .meta + p:first-of-type {
      margin-top:0;
    }

    pre {
      padding:0;
      font-size: inherit;
      line-height:1.5rem;
      overflow: hidden;
      white-space: pre-wrap;
      word-break: break-all;
    }
  }
}

.text {
  @include typography(760px, 5rem);
}