@import "common/variables";

$font-heading: $font-serif;

body {
  font-family: $font-sans;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-feature-settings: "liga" 1;
  font-weight:$font-weight-normal;

  font-size: 18px;
  @media (min-width: 900px) {
    font-size: 20px;
  }
  @media (min-width: 1100px) {
    font-size: 22px;
  }
  @media (min-width: 1800px) {
    font-size: 24px;
  }

  @media print {
    font-size: 18px;
  }
}

@mixin heading {
  font-family: $font-heading;
  font-weight: $font-weight-heading;
  page-break-after: avoid;
}

@mixin heading-margins($size) {
  font-size:1em * $size;
  @if 1.5/$size < 1 {
    line-height: 3em/$size;
    margin-top: 3em/$size;
  } @else {
    line-height: 1.5em/$size;
    margin-top: 1.5em/$size;
  }
}

@mixin typography($text-width, $text-margin-left) {
  position: relative;

  .meta {
    font-variant: small-caps;
  }

  @media screen and (min-width: 760px) {
    .meta {
      margin-top:1.875em;
      width: $text-margin-left;
      float:left;
      font-size:0.8em;
      line-height:1.875em;
      margin-left:0;
      opacity:0.7;
      time {
        display:block;
      }
    }

    .bio {
      margin-left: $text-margin-left;
    }

    h2 {
      margin-left: $text-margin-left/$size-h2;
      max-width:$text-width;
    }

    h3 {
      margin-left: $text-margin-left/$size-h3;
      max-width:$text-width;
    }

    h4 {
      margin-left: $text-margin-left/$size-h4;
      max-width:$text-width;
    }

    &>p, &>ul, &>ol, &>figure, &>dl, &>div, &>pre, &>blockquote, &>hr {
      margin-left: $text-margin-left;
      max-width:$text-width;
    }

    h1 + .meta + p:first-of-type {
      margin-left:$text-margin-left / $size-lead;
    }

    h1 + .meta + p:first-of-type {
      font-size:1em * $size-lead;
      line-height: 1.5em/$size-lead;
      margin-top:1.5em/$size-lead;
    }

    .bio>h2 {
      margin-left:0;
    }
  }

  .bio {
    $avatar-size: 6em;
    $avatar-border: 0.1em;
    $avatar-margin:1.5em;
    border-top:0.2em solid $color-header;
    margin-top:1.4em;
    padding-top:1.4em;
    overflow:auto;

    h2 {
      font-size:1em * $size-h3;
      @if 1.5/$size-h3 < 1 {
        line-height: 3em/$size-h3;
      } @else {
        line-height: 1.5em/$size-h3;
      }
      margin-top:0;
      margin-right:($avatar-size + $avatar-margin)/$size-h3;
    }
    p {
      font-size:0.8em;
      line-height:1.875em;
      margin-right:($avatar-size + $avatar-margin)/0.8;
    }

    img.avatar {
      float:right;
      width:$avatar-size - $avatar-border*2;
      height:$avatar-size - $avatar-border*2;
      margin-top:-1.5em;
      margin-left:$avatar-margin;
      border: $avatar-border solid $color-header;
      border-radius:50%;
    }
    @media print {
      border-top:0.2em solid $color-print-border;
      .readmore {
        display:none;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @include heading;
  }

  p, ul, ol, figure, dl, hr {
    margin-top:1.5em;
    font-size:inherit;
  }

  h1, h2, h3, h4, h5, h6, p, ul, ol, figure, dl, div, hr {
    animation: fadein 0.233s;
  }

  p>code, ul>code, ol>code, dt>code, dd>code {
    color: $color-inline-code;
  }

  dl {
    overflow:auto;
    position:relative;
  }

  dt {
    font-weight:bold;
  }

  dd {
    padding-left:2em;
  }

  dd + dt {
    margin-top:1.5em;
  }

  ul {
    list-style-type: disc;
    padding-left:1.5em;
  }

  p {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  h1 {
    font-size:2.5em;
    font-weight: $font-weight-normal;
    line-height:1.2em;
    margin-top:0.6em;
    @media screen and (min-width: 760px) {
      font-size:3.5em;
      line-height:1.166em;
      margin-top:0.583em;
    }
    @media screen and (min-width: 900px) {
      margin-top:1.25em;
      font-size: 4em;
      line-height:1.25em;
    }
    @media screen and (min-width: 1400px) {
      margin-top:1.2em;
      font-size: 5em;
      line-height:1.2em;
    }
    margin-bottom:0;
  }

  h2 {
    @include heading-margins($size-h2);
  }

  h3 {
    @include heading-margins($size-h3);
  }

  h4 {
    @include heading-margins($size-h4);
  }

  @media print {
    h1 {
      margin-left: auto;
      margin-right: auto;
      margin-top: 3em;
      width: 80%;
      font-variant: small-caps;
      text-align: center;
      page-break-after: always;
    }

    h1 + .meta + p:first-of-type {
      margin-top:0;
    }
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  blockquote {
    border-left: 5px solid $color-blockquote-border;
    padding-left:0.75em;
  }

  a {
    color: $color-link;
    text-decoration-color: $color-link-underline;
    transition:color $transition-length ease-out, text-decoration-color $transition-length ease-out;
    &:hover {
      color: $color-link-hover;
    }
    &:active {
      color:$color-link-active;
    }
    &:visited {
      color: $color-link-visited;
      text-decoration-color: $color-link-visited-underline;
    }
  }

  code {
    font-family: $font-mono;
  }

  del {
    text-decoration: line-through;
  }

  ins {
    text-decoration: none;
    font-style: italic;
  }

  figure {
    position: relative;
    text-align: center;
    img {
      max-width:100%;
    }
    figcaption {
      font-style: italic;
    }
  }

  pre {
    margin-top:1.5em;
    font-size: inherit;
    line-height:1.5em;
    padding: 1.5em;
    overflow-y: scroll;
    white-space: pre;
    @media screen and (min-width: 768px) {
      white-space: pre-wrap;
      overflow-y: hidden;
    }
  }

  hr {
    border:0;
    height:0.2em;
    background:$color-header;
    margin-top:1.3em;
  }

  .admonition {
    position:relative;
    &>* {
      padding-left:1.5em;
    }
    &>:first-child::before {
      display:block;
      text-align: left;
      position:absolute;
      top:0;
      left:0;
      width:0.75em;
      font-size:1em;
      line-height:1.5em;
      height:1.5em;
    }
    &--tip>:first-child::before {
      content:"☛";
      color: $color-admonition-tip;
      font-size:1.5em;
      line-height:1em;
      height:1em;
    }
    &--warning>:first-child::before {
      content:"⚠";
      color: $color-admonition-warning;
      font-weight: bold;
    }
    &--info>:first-child::before {
      content:"ⓘ";
      color: $color-admonition-info;
      font-weight: bold;
    }
  }
}

.text {
  @include typography(760px, 5em);
}