@import "common/variables";

label.listen {
  display:inline-block;
  text-align: center;
  background:$color-background-card-light;
  height:1.5rem;
  border-radius:$border-radius;
  cursor: pointer;
  padding-left:0.375rem;
  padding-right:0.375rem;
  transition: background-color $transition-length ease-in-out, color $transition-length ease-in-out, box-shadow $transition-length ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color:$color-decor-contrast;
    background:$color-decor;
  }
  @media screen and (min-width: 768px) {
    padding-left:0;
    padding-right:0;
    display:block;
    margin-top:1.5rem;
    width:4rem;
  }
  @media print {
    display:none;
  }
}

.audio-toggle {
  display:none;
}

.audio-overlay {
  overflow:hidden;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:100vh;
  opacity:0;
  background:rgba(0,0,0,0.5);
  transition: opacity $transition-length ease-in-out, bottom $transition-length ease-in-out;
  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
  @media screen and (prefers-reduced-transparency: reduce) {
    background: rgb(128,128,128);
  }
  z-index:10;
  box-sizing: border-box;
  padding-left:$padding-left-page;
  padding-right: $padding-right-page;
}

.audio-toggle:checked + .audio-overlay {
  bottom:0;
  opacity:1;
}

.audio-overlay-close {
  display: block;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:1;
}

.audio-player-wrapper {
  position: relative;
}

.audio-player {
  box-sizing: border-box;
  position: relative;
  z-index:2;
  width:100%;
  max-width:480px;
  margin-left:auto;
  margin-right:auto;
  margin-top:3rem;
  border-radius:$border-radius;
  background: $color-background-card-light;
  padding:1.5rem;
  header {
    display: flex;
    flex-direction: row;
  }
  h2 {
    flex: 1;
    font-size:1.2rem;
    @media screen and (min-width: 768px) {
      font-size:1.5rem;
    }
    font-family:$font-heading;
    font-weight:$font-weight-heading;
  }
  label.close {
    display: block;
    cursor: pointer;
    font-size:1.5rem;
  }
  main {
    position:relative;
    margin-top:1.5rem;
  }
  audio {
    width:100%;
    height:1.5rem;
    outline:none;
    span {
      line-height:1.5rem;
    }
  }
  footer {
    margin-top:1.5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0.2rem;
  }

  footer a{
    box-sizing: border-box;
    width:100%;
    border:0.1rem solid $color-decor;
    font-size:0.8rem;
    height:1.3rem;
    border-radius: $border-radius;
    text-decoration:none;
    padding-left:0.75rem;
    padding-right:0.75rem;
    display: inline-block;
    color: inherit;
    line-height:1.3rem;
    text-align:center;
    &:hover {
      color: $color-decor-contrast;
      background: $color-decor;
      opacity:0.8;
    }
  }
  .download {
    color: $color-decor-contrast;
    background: $color-decor;
    border:0;
    &:hover {
      background: $color-decor;
      color: $color-decor-contrast;
      opacity:0.8;
    }
    &:visited {
      background: $color-decor;
      color: $color-decor-contrast;
    }
  }
}

@media screen and (prefers-color-scheme: dark) {
  label.listen {
    background: $color-background-card-dark;
    box-shadow: 0 1px 3px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.24);
    &:hover {
      box-shadow: 0 14px 28px rgba(255,255,255,0.25), 0 10px 10px rgba(255,255,255,0.22);
    }
  }
  .audio-player {
    background: $color-background-card-dark;
  }
}