@import "common";
@import "posts";
@import "posts-feature";

.readmore {
  margin-top:3rem;
  margin-bottom:1.5rem;
  text-align: center;
  a {
    text-decoration: none;
    color: $color-decor-contrast;
    background: $color-decor;
    display: inline-block;
    margin-left:0.375rem;
    padding-left:0.375rem;
    padding-right:0.375rem;
    border-radius:5px;
    height:1.5rem;
    font-size:0.8rem;
    transition: opacity $transition-length ease-in-out;
    &:hover {
      opacity:0.7;
      color:$color-decor-contrast;
    }
  }
}
