@import "../common/variables";
@import "../common/shadow";
@import "../common/block";

.recent {
  @include block();

  background:#ffffff;


  .post__list {
    @media screen and (min-width: $mobile-break) {
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .post {
      display:block;
      color: inherit;
      position: relative;
      text-decoration: none;

      margin-bottom:2.25vw;
      border-bottom: $pixel solid #cccccc;

      @media screen and (min-width: $mobile-break) {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 32%;
        @include elevation(1);
        margin-bottom:0;
        border-bottom:0;
        padding-bottom:0;
      }

      img {
        width:100%;
      }

      .post__tags {
        color:$color-active;
        font-weight: $font-weight-headline;
        text-transform: uppercase;
      }

      .post__title {
        font-weight: $font-weight-headline;
      }

      .post__tags, .post__title, .post__excerpt, .post__meta {
        font-size:3vw;
        line-height:4.5vw;
        margin-top:2.25vw;
        margin-bottom:2.25vw;
        padding-right: 1vw;
        padding-left: 1vw;

        @media screen and (min-width: $mobile-break){
          font-size:1vw;
          line-height:1.5vw;
          margin-top: 0.75vw;
          margin-bottom: 0.75vw;
        }
      }

      .post__meta {
        font-size: 2vw;
        @media screen and (min-width: $mobile-break){
          font-size:0.8vw;
        }
      }

      .post__pubdate::after, .post__readtime::after {
        content: " | ";
      }

      .post__read {
        text-decoration:underline;
        color: $color-active;
      }
    }
  }

  &__gotoblog {
    margin-top:3vw;
    text-align: center;
    a {
      display: inline-block;
      @include button(
        6vw,
        3vw,
        $pixel,
        #ffffff,
        $color-active,
        #f2f2f2,
        $color-hover
      );
    }
  }
}
