{{- with index $.Site.Data.authors (.Get "author") }}
<div class="cv">
    <header>
        <div class="info">
            <h1>{{- .fullname -}}</h1>
            <div class="tagline">{{- .tagline -}}</div>
            <p>{{- .bio -}}</p>
        </div>
        <img src="{{ ((resources.Get .avatar).Resize "256x").RelPermalink}}" alt="{{ .avatar_alt }}" class="avatar" />
    </header>
    <div class="social">
        <a target="_blank" rel="noopener noreferer" href="https://github.com/{{ .social.github }}/"><img src="{{ (resources.Get "icons/github.svg").RelPermalink }}" alt="" /> GitHub</a>
        <a target="_blank" rel="noopener noreferer" href="https://www.linkedin.com/in/{{ .social.linkedin }}/"><img src="{{ (resources.Get "icons/linkedin.svg").RelPermalink }}" alt="" /> LinkedIn</a>
        <a target="_blank" rel="noopener noreferer" href="https://twitter.com/{{ .social.twitter }}/"><img src="{{ (resources.Get "icons/twitter.svg").RelPermalink }}" alt="" /> Twitter</a>
    </div>
</div>
{{ end }}
