{{ define "css" }}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/home.scss") | safeCSS) -}}
{{ end }}

{{ define "main" }}
    <h1 class="aria-only" aria-hidden="false">Latest articles</h1>
    {{ .Content }}
    <div class="posts posts--feature">
        {{ range first 1 (where site.RegularPages "Section" "blog")}}
            {{ partial "post-featured.html" . }}
        {{ end }}
        <aside>
            {{ range last 2 (first 3 (where site.RegularPages "Section" "blog"))}}
                {{ partial "post.html" . }}
            {{ end }}
        </aside>
    </div>
    <div class="posts">
        {{ range last 6 (first 9 (where site.RegularPages "Section" "blog"))}}
            {{ partial "post.html" . }}
        {{ end }}
    </div>
    <div class="readmore">
        <p>Want more? These are just the latest posts! <a href="/blog/">Read more &raquo;</a></p>
    </div>
{{ end }}
