{{ define "css" }}
    {{ partial "scss" (dict "file" "scss/home.scss") }}
{{ end }}

{{ define "main" }}
    {{ .Content }}
    <div class="posts posts--feature">
        {{ range first 1 (where site.RegularPages "Section" "blog")}}
            {{ partial "post-featured.html" . }}
        {{ end }}
        <aside>
            {{ range last 2 (first 3 (where site.RegularPages "Section" "blog"))}}
                {{ partial "post-home.html" . }}
            {{ end }}
        </aside>
    </div>
    <div class="posts">
        {{ range last 8 (first 11 (where site.RegularPages "Section" "blog"))}}
            {{ partial "post-home.html" . }}
        {{ end }}
    </div>
    <div class="readmore">
        <p>Want more? These are just the latest posts! <a href="/blog/">Read more &raquo;</a></p>
    </div>
{{ end }}
