<div class="gdpr-overlay" id="gdpr">
    <div class="gdpr-dialog" role="dialog">
        <p>Is it OK if I turn on Google Analytics?</p>
        <footer>
            <button class="default" id="gdpr-yes">Yes</button>
            <button id="gdpr-no">No</button>
            <a href="/privacy/">Privacy Policy</a>
        </footer>
    </div>
</div>
<script>
    let privacyFeatures = [
        {
            id: "google-analytics",
            title: "Google Analytics",
            callback: function() {
                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }

                gtag('js', new Date());

                gtag('config', 'UA-108462692-1', {'anonymize_ip': true, 'allow_ad_personalization_signals': false});

                var scriptElement = document.createElement("script");
                scriptElement.setAttribute("async", "async");
                scriptElement.src = "https://www.googletagmanager.com/gtag/js?id=UA-108462692-1";
                document.body.appendChild(scriptElement);

                var eventLinks = document.querySelectorAll('[data-event]');
                for (var i = 0; i < eventLinks.length; i++) {
                    if (eventLinks.hasOwnProperty(i)) {
                        var eventLink = eventLinks[i];
                        eventLink.addEventListener("click", function() {
                            gtag(
                                'event',
                                this.dataset.eventCategory,
                                {
                                    method: this.dataset.event
                                }
                            );
                        });
                    }
                }
            }
        }
    ];

    let getCookie = function(cookieName) {
        let value = "; " + document.cookie;
        let parts = value.split("; " + cookieName + "=");
        if (parts.length > 1) return decodeURIComponent(parts.pop().split(";").shift());
    };

    let setCookie = function (cookieName, cookieValue, expiry) {
        let now = new Date();
        now.setTime(now.getTime() + expiry * 1000);
        let expires = "expires=" + now.toUTCString();
        document.cookie = cookieName + "=" + encodeURIComponent(cookieValue) + ";" + expires + ";path=/";
    };

    let deleteCookie = function (cookieName) {
        document.cookie = cookieName + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/';
    };

    let loadSettings = function() {
        let privacySettings;
        try {
            privacySettings = JSON.parse(getCookie("privacy-settings") || "{}");
        } catch (e) {
            privacySettings = {};
        }

        if (typeof privacySettings['saved'] === "undefined") {
            privacySettings.saved = false
        } else {
            privacySettings.saved = !!privacySettings.saved;
        }

        if (typeof privacySettings['settings'] === "undefined" || typeof privacySettings['settings'] !== "object") {
            privacySettings.settings = {};
        }

        for (let i = 0; i < privacyFeatures.length; i++) {
            let privacyFeature = privacyFeatures[i];
            if (navigator.doNotTrack === '1') {
                privacySettings.settings[privacyFeatures[i].id] = null;
            } else if (typeof privacySettings.settings[privacyFeatures[i].id] !== "boolean") {
                privacySettings.settings[privacyFeatures[i].id] = true;
            } else {
                privacySettings.settings[privacyFeatures[i].id] = !!privacySettings.settings[privacyFeatures[i].id];
            }
        }

        return privacySettings;
    };

    let privacySettings = loadSettings();
    let privacyModal = document.getElementById("gdpr")

    let showModal = function() {
        privacyModal.classList.add("gdpr-overlay--show");
    };

    let hideModal = function() {
        privacyModal.classList.remove("gdpr-overlay--show");
    };

    let saveSettings = function(privacySettings) {
        privacySettings.saved = true;
        setCookie("privacy-settings", JSON.stringify(privacySettings), 365*24*3600);
        hideModal();
        if (window.location.pathname !== "/privacy") {
            for (let i = 0; i < privacyFeatures.length; i++) {
                let privacyFeature = privacyFeatures[i];
                if (privacySettings.settings[privacyFeature.id]) {
                    privacyFeature.callback();
                }
            }
        }
    };

    document.getElementById("gdpr-yes").addEventListener("click", function() {
        privacySettings.settings['google-analytics'] = true;
        saveSettings(privacySettings)
    })
    document.getElementById("gdpr-no").addEventListener("click", function() {
        privacySettings.settings['google-analytics'] = false;
        saveSettings(privacySettings)
    })

    document.body.appendChild(privacyModal);

    let privacyOpenButtons = document.getElementsByClassName("privacy__open");
    for (let i = 0; i < privacyOpenButtons.length; i++) {
        privacyOpenButtons[i].removeAttribute("disabled");
        privacyOpenButtons[i].addEventListener("click", function() {
            showModal();
        });
    }

    if (!privacySettings.saved) {
        if (window.location.pathname !== "/privacy/") {
            showModal();
        }
    } else {
        saveSettings(privacySettings);
    }
</script>