<div class="post post--featured">
    <h2><a class="hidden" href="{{ .RelPermalink }}">{{ replaceRE "([A-Z])" "<span class=\"highlight\">$1</span>" (replaceRE "(^|\\(| |-|:)([a-z])" "$1<span class=\"highlight\">$2</span>" .Title) | safeHTML }}</a></h2>
    <div class="post__content">
        <p>
            <a class="hidden" href="{{ .RelPermalink }}">{{ plainify (index (split .Content "</") 0) }}</a>
            <span class="post__readmore">
                <a href="{{ .RelPermalink }}">
                    {{ if (isset .Params "mp3") }}
                        Read more or <span class="nobr">listen &raquo;</span>
                    {{ else }}
                        Read <span class="nobr">more &raquo;</span>
                    {{ end }}
                </a>
            </span>
        </p>
    </div>
</div>