@import "../common/block";
@import "../common/variables";
@import "../common/social";

.blog__header {
  @include block;
}
.blog__social {
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  .social a {
    display: block;
    height:4vw;
    width:4vw;
    margin-left:2vw;
    margin-right:0;
    @media screen and (min-width: $mobile-break) {
      height: 3vw;
      width: 3vw;
    }
  }
}

