@import "../common/variables";
@import "../common/social";

.hero {
  background:#1b1819;
  height: 48.5vw;
  color: #ffffff;
  font-family: $font-family-sans;
  margin-top: $header-height-mobile;
  @media screen and (min-width: $mobile-break){
    height: 37.5vw;
    margin-top: 0;
  }
  &__contents {
    position: relative;
    opacity:0;
    background: #1b1819 url64("/assets/layout/janos-1-lq.jpg") no-repeat;
    height: 37.5vw;
    background-size: contain;
    animation: fadein $animation-length-slow;
    animation-fill-mode: forwards;
    border-bottom: 11vw solid #333333;
    @media screen and (min-width: $mobile-break) {
      border-bottom-width: 0;
    }
  }
  &__background {
    background: url("/assets/layout/janos-1-768.jpg") no-repeat;
    background-size: contain;
    height: 37.5vw;
    @media (min-width: 768px) {
      background-image: url("/assets/layout/janos-1-1080.jpg");
    }
    @media (min-width: 1080px) {
      background-image: url("/assets/layout/janos-1-1440.jpg");
    }
    @media (min-width: 1440px) {
      background-image: url("/assets/layout/janos-1-1920.jpg");
    }
    @media (min-width: 1920px) {
      background-image: url("/assets/layout/janos-1-2560.jpg");
    }
    @media (min-width: 2560px) {
      background-image: url("/assets/layout/janos-1-3840.jpg");
    }

    @media (min-device-pixel-ratio: 2) {
      @media (min-width: 384px) {
        background-image: url("/assets/layout/janos-1-1080.jpg");
      }
      @media (min-width: 540px) {
        background-image: url("/assets/layout/janos-1-1440.jpg");
      }
      @media (min-width: 720px) {
        background-image: url("/assets/layout/janos-1-1920.jpg");
      }
      @media (min-width: 960px) {
        background-image: url("/assets/layout/janos-1-2560.jpg");
      }
      @media (min-width: 1280px) {
        background-image: url("/assets/layout/janos-1-3840.jpg");
      }
    }

    @media (min-device-pixel-ratio: 3) {
      @media (min-width: 256px) {
        background-image: url("/assets/layout/janos-1-1080.jpg");
      }
      @media (min-width: 360px) {
        background-image: url("/assets/layout/janos-1-1440.jpg");
      }
      @media (min-width: 480px) {
        background-image: url("/assets/layout/janos-1-1920.jpg");
      }
      @media (min-width: 640px) {
        background-image: url("/assets/layout/janos-1-2560.jpg");
      }
      @media (min-width: 853px) {
        background-image: url("/assets/layout/janos-1-3840.jpg");
      }
    }
  }
  &__title {
    font-weight: $font-weight-headline - 100;
    padding-top:2vw;
    margin-left:5vw;
    line-height:7vw;
    font-size: 6vw;
    @media screen and (min-width: $mobile-break) {
      padding-top:5vw;
      margin-left:5vw;
      line-height:5vw;
      font-size: 4.5vw;
    }
  }
  &__subtitle {
    margin-top:8vw;
    font-size:3vw;
    line-height:3.5vw;
    margin-left:5vw;
    font-weight: $font-weight-normal;
    .hero__line {
      display:block;
      @media screen and (min-width: $mobile-break) {
        display:inline;
      }
    }
    @media screen and (min-width: $mobile-break) {
      margin-top: 1vw;
      font-size: 1.5vw;
      line-height:1.5vw;
      margin-left: 5vw;
    }
  }
  &__elsewhere {
    position:absolute;
    top: 37.5vw;
    height: 6vw;
    padding-top:2.5vw;
    padding-bottom:2.5vw;
    display: flex;
    flex-direction: row;
    @media screen and (min-width: $mobile-break) {
      position: static;
      top:auto;
      height:auto;
      display:block;
      padding-top:0;
      padding-bottom:0;
    }
  }
  &__contact {
    padding-left:5vw;
    @media screen and (min-width: $mobile-break) {
      padding-top: 5vw;
    }
    display:inline-block;
    @media screen and (min-width: $mobile-break) {
      display:block;
    }

    a {
      height:6vw;
      width:6vw;
      @media screen and (min-width: $mobile-break) {
        height: 3vw;
        width: 3vw;
      }
    }
    a[rel="discord"] {
      background-image:url64("/assets/layout/discord-white.svg")
    }
    a[rel="youtube"] {
      background-image:url64("/assets/layout/youtube-white.svg")
    }
    a[rel="twitter"] {
      background-image:url64("/assets/layout/twitter-white.svg")
    }
    a[rel="linkedin"] {
      background-image:url64("/assets/layout/linkedin-white.svg")
    }
    a[rel="github"] {
      background-image:url64("/assets/layout/github-white.svg")
    }
    a[rel="facebook"] {
      background-image:url64("/assets/layout/facebook-white.svg")
    }
    a[type="application/rss+xml"] {
      background-image:url64("/assets/layout/rss-white.svg")
    }
  }

  &__getintouch {
    @media screen and (min-width: $mobile-break){
      padding-top: 3vw;
      padding-bottom: 3vw;
      background-image: url64("/assets/layout/arrow.svg");
      margin-left:5vw;
    }
    background-size: auto 4vw;
    background-repeat: no-repeat;
    background-position: 13vw 4vw;
    .btn {
      height:6vw;
      border-radius: 3vw;
      padding-left:3vw;
      line-height:6vw;
      padding-right:3vw;
      font-size: 3vw;
      font-weight: 600;
      @media screen and (min-width: $mobile-break){
        height: $base-size * 10;
        line-height: $base-size * 10;
        border-radius:$base-size * 5;
        font-size:$base-size * 4;
        padding-left: $base-size * 6;
        padding-right: $base-size * 6;
      }
    }
  }
}
