@import "../common/variables";
@import "../common/shadow";
@import "../common/block";
@import "../common/post";
@import "../common/postlist";

.recent {
  @include block();

  background:#ffffff;

  &__gotoblog {
    text-align: center;
    a {
      display: inline-block;
      @include button(
        6vw,
        3vw,
        $pixel,
        #ffffff,
        $color-active,
        #f2f2f2,
        $color-hover
      );
    }
  }
}
