@import "variables";
@import "../typography";

html, body {
  min-height: 100vh;
}

body {
  text-align: center;
  @media screen {
    border-top: $size-stripe solid $color-header;
    color:$color-text;
    background:$color-background;
  }
}

header.page, main.page, footer.page {
  text-align:left;
}

main.page {
  max-width: $width-max;
  display:flex;
  flex-direction:column;
  @media print {
    padding:0;
  }
  padding-left: $padding-left-page;
  padding-right: $padding-right-page;
  margin-left:auto;
  margin-right:auto;
}

@page {
  size: A4;
  padding: 0;
  margin: 3em;
}

@keyframes fadein{
  from{
    opacity:0
  }
  to{
    opacity:1
  }
}