//@link https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/
@mixin responsive($range) {
  $phone-upper-boundary: 600px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px;

  @if $range == xs {
    @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
  } @else if $range == s {
    @media (min-width: $phone-upper-boundary) { @content; }
  } @else if $range == m {
    @media (min-width: $tablet-portrait-upper-boundary) { @content; }
  } @else if $range == m {
    @media (min-width: $tablet-landscape-upper-boundary) { @content; }
  } @else if $range == l {
    @media (min-width: $desktop-upper-boundary) { @content; }
  }
}

@mixin responsive-xs {
  @include responsive("xs")
}

@mixin responsive-s {
  @include responsive("s")
}

@mixin responsive-m {
  @include responsive("m")
}

@mixin responsive-l {
  @include responsive("l")
}
