$font-sans: "Helvetica Neue", Arial, sans-serif;
$font-serif: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", serif;
$font-mono: "Lucida Console", Monaco, monospace;

$font-weight-normal: 300;
$font-weight-heading: 500;
$font-weight-logo: 700;
$font-weight-footer-heading: 700;

$color-background: #eaeaea;
$color-background-footer: #ffffff;
$color-text: #222222;
$color-inline-code: #e52e71;
$color-blockquote-border: #999999;
$color-link: #007db5;
$color-link-underline: #a2dffb;
$color-link-hover: #ff8a00;
$color-link-active: #e52e71;
$color-link-visited: #007db5;
$color-link-visited-underline: #72b372;
$color-admonition-tip: #00a000;
$color-admonition-warning: #f0a000;
$color-admonition-info: #9090f0;
$color-header: #e52e71;

$padding-left-page: 1.5em;
$padding-right-page: 1.5em;

$transition-length: .233s;

$width-max:1400px;

$size-h2: 2;
$size-h3: 1.5;
$size-h4: 1;
$size-lead: 1.2;
$size-stripe: 0.75em;