@import "variables";

@mixin block {
  padding: 5vw 5vw;

  h2 {
    font-size: 4vw;
    line-height: 4vw;
    font-weight:bold;
    margin-bottom:3vw;
    @media screen and (min-width: $mobile-break){
      font-size: 3vw;
      line-height: 3vw;
    }
  }
}