@import "variables";
@import "shadow";

.post {
  display:block;
  color: inherit;
  position: relative;
  text-decoration: none;
  padding-bottom:2.25vw*1.5;
  @media screen and (min-width: $mobile-break) {
    @include elevation(1);
    padding-bottom:1.125*1.5vw;
  }

  img {
    object-fit: cover;
    width:100%;
    border:0;
    outline: none;
  }

  .post__tags {
    color:$color-active;
    font-weight: $font-weight-headline;
    text-transform: uppercase;
  }

  .post__title {
    font-weight: $font-weight-headline;
  }

  .post__tags, .post__title, .post__excerpt, .post__meta {
    font-size:3vw;
    line-height:4.5vw;
    margin-top:2.25vw;
    margin-bottom:2.25vw;
    padding-right: 1vw;
    padding-left: 1vw;

    @media screen and (min-width: $mobile-break){
      font-size:1vw;
      line-height:1.5vw;
      margin-top: 0.75vw;
      margin-bottom: 0.75vw;
    }
  }

  /*
  Implement when browser support gets better.
  .post__excerpt {
    max-height: 4.5*2vw;
    text-overflow: ellipsis;
    overflow:hidden;
    @media screen and (min-width: $mobile-break){
      max-height:1.5*2vw;
    }
  }
  */

  .post__meta {
    position: absolute;
    bottom:0;
    font-size: 2vw;
    @media screen and (min-width: $mobile-break){
      font-size:0.8vw;
    }
  }

  .post__pubdate::after, .post__readtime::after {
    content: " | ";
  }

  .post__read {
    text-decoration:underline;
    color: $color-active;
  }

  .post__img--highres {
    position:absolute;
    top:0;
    left:0;
    right:0;
  }

  &--small {
    display: flex;
    flex-direction: row;
    height:16.8vw;
    @media screen and (min-width: $mobile-break) {
      height: 8.4vw;
    }
    padding-bottom:0;
    .post__image {
      position:relative;
      width:32vw;
      height:16.8vw;
      @media screen and (min-width: $mobile-break) {
        width:16vw;
        height:8.4vw;
      }
      overflow: hidden;
    }
    .post__title {
      font-size: 1.2vw;
      line-height:1.5vw;
    }
    .post__data {
      flex: 1;
      height:8.4vw;
    }
    .post__readtime::after {
      content:"";
    }
  }
}
