$color-active: #4e5162;
$color-hover: #737891;
$color-alternate: #0CD0A1;
$pixel: 0.052083vw;
//Equivalent to 6 px
$base-size: 6 * $pixel;
$header-height-desktop: $base-size*15;
$header-height-mobile: 50px;
$font-weight-normal: normal;
$font-weight-headline: 800;
$font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$animation-length: 233ms;
$animation-length-slow: 677ms;
$mobile-break: 1090px;
$toaster-width: $header-height-mobile;
$menu-item-height-mobile:35px;