@import "variables";

@mixin button($mobileheight, $desktopheight, $borderwidth, $bgcolor, $bordercolor, $hoverbgcolor, $hovercolor) {
  color:$bordercolor;
  cursor: pointer;
  background-color:$bgcolor;
  height: $mobileheight;
  line-height: $mobileheight;
  border-radius: $mobileheight/2;
  font-size: $mobileheight/2.5;
  padding-left: $mobileheight/2;
  padding-right: $mobileheight/2;
  border: $borderwidth solid $bordercolor;
  transition: background-color ease-in-out $animation-length,
    color ease-in-out $animation-length,
    border-color ease-in-out $animation-length;
  text-decoration: none;
  @media screen and (min-width: $mobile-break) {
    height: $desktopheight;
    line-height: $desktopheight;
    border-radius: $desktopheight/2;
    padding-left: $desktopheight/2;
    padding-right: $desktopheight/2;
    font-size: $desktopheight/2.5;
  }
  &:hover {
    color:$hovercolor;
    border-color:$hovercolor;
    background-color:$hoverbgcolor;
  }
}

.btn {
  color:#ffffff;
  cursor: pointer;
  background-color:$color-active;
  height: 6vw;
  line-height: 6vw;
  border-radius: 3vw;
  font-size: 3vw;
  padding-left: 3vw;
  padding-right: 3vw;
  @media screen and (min-width: $mobile-break) {
    height: $base-size * 8;
    line-height: $base-size * 8;
    border-radius: $base-size * 4;
    padding-left: $base-size * 6;
    padding-right: $base-size * 6;
    font-size: $base-size * 3;
  }
  transition: background-color $animation-length ease-in-out;
  &:hover {
    background-color:$color-hover;
  }
  &-lg {
    height: 5vw;
    line-height: 5vw;
    border-radius: 2.5vw;
    font-size: 2.5vw;

    @media screen and (min-width: $mobile-break) {
      height: $base-size * 10;
      line-height: $base-size * 10;
      border-radius:$base-size * 5;
      font-size:$base-size * 4;
    }
  }
}