.speech {
    display:none;
    @media aural {
        display: block;
    }
    @media speech {
        display: block;
    }
    @media braille {
        display: block;
    }
}

.no-speech {
    @media aural {
        display:none;
    }
    @media speech {
        display:none;
    }
    @media braille {
        display:none;
    }
}
